USE [master]
GO
/****** Object:  Database [DHKV_DB]    Script Date: 4/22/2025 8:18:19 PM ******/
CREATE DATABASE [DHKV_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DHKV_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LVHDEV\MSSQL\DATA\DHKV_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DHKV_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LVHDEV\MSSQL\DATA\DHKV_DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DHKV_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DHKV_DB]
GO
/****** Object:  Table [dbo].[ChiTietLogPath]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLogPath](
	[IdCTLP] [int] IDENTITY(1,1) NOT NULL,
	[IdLog] [int] NOT NULL,
	[ThuTu] [int] NULL,
	[IdPathDD] [int] NOT NULL,
	[IdPathCT] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCTLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongTrinh]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTrinh](
	[IdCT] [int] IDENTITY(1,1) NOT NULL,
	[TenCT] [nvarchar](255) NOT NULL,
	[LoaiCT] [nvarchar](100) NULL,
	[SoTang] [int] NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[ToaDoX] [float] NOT NULL,
	[ToaDoY] [float] NOT NULL,
	[IdKV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[IdDD] [int] IDENTITY(1,1) NOT NULL,
	[TenDD] [nvarchar](255) NOT NULL,
	[TenKhac] [nvarchar](255) NULL,
	[LoaiDD] [nvarchar](100) NULL,
	[ToaDoX] [float] NOT NULL,
	[ToaDoY] [float] NOT NULL,
	[TangSo] [int] NULL,
	[IdCT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistanceCT]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistanceCT](
	[IdPathCT] [int] IDENTITY(1,1) NOT NULL,
	[IdCTA] [int] NOT NULL,
	[IdCTB] [int] NOT NULL,
	[DoDai] [float] NOT NULL,
	[TinhTrang] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPathCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistanceDD]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistanceDD](
	[IdPathDD] [int] IDENTITY(1,1) NOT NULL,
	[IdDiemA] [int] NOT NULL,
	[IdDiemB] [int] NOT NULL,
	[Loai] [nvarchar](100) NULL,
	[DoDai] [float] NULL,
	[TinhTrang] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPathDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khuvuc]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khuvuc](
	[IdKV] [int] IDENTITY(1,1) NOT NULL,
	[TenKV] [nvarchar](255) NOT NULL,
	[LoaiKV] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienTich] [float] NULL,
	[ToaDoX] [float] NOT NULL,
	[ToaDoY] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogPassword]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogPassword](
	[IdLpass] [int] IDENTITY(1,1) NOT NULL,
	[IdNSD] [int] NOT NULL,
	[OldMK] [nvarchar](100) NOT NULL,
	[NewMK] [nvarchar](100) NOT NULL,
	[TimeUpdated] [datetime] NOT NULL,
	[PathJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLpass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogPath]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogPath](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[IdNSD] [int] NOT NULL,
	[ThuTu] [int] NOT NULL,
	[TgBatDau] [datetime] NULL,
	[TgKetThuc] [datetime] NULL,
	[IdDDBatDau] [int] NOT NULL,
	[IdDDKetThuc] [int] NOT NULL,
	[PathJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiSuDung]    Script Date: 4/22/2025 8:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiSuDung](
	[IdNSD] [int] IDENTITY(1,1) NOT NULL,
	[TenNSD] [nvarchar](255) NOT NULL,
	[TenDN] [nvarchar](100) NOT NULL,
	[MK] [nvarchar](100) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[DoiTuong] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CongTrinh] ON 

INSERT [dbo].[CongTrinh] ([IdCT], [TenCT], [LoaiCT], [SoTang], [HinhAnh], [ToaDoX], [ToaDoY], [IdKV]) VALUES (1, N'Cổng trường', N'Cổng', NULL, N'', 5, 95, 1)
INSERT [dbo].[CongTrinh] ([IdCT], [TenCT], [LoaiCT], [SoTang], [HinhAnh], [ToaDoX], [ToaDoY], [IdKV]) VALUES (2, N'KTX A1', N'Ký túc xá', 4, N'', 60, 80, 1)
INSERT [dbo].[CongTrinh] ([IdCT], [TenCT], [LoaiCT], [SoTang], [HinhAnh], [ToaDoX], [ToaDoY], [IdKV]) VALUES (3, N'KTX A2', N'Ký túc xá', 4, N'', 63, 80, 1)
SET IDENTITY_INSERT [dbo].[CongTrinh] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaDiem] ON 

INSERT [dbo].[DiaDiem] ([IdDD], [TenDD], [TenKhac], [LoaiDD], [ToaDoX], [ToaDoY], [TangSo], [IdCT]) VALUES (1, N'P101K1', N'', N'Phòng KTX', 85, 78, 1, 6)
INSERT [dbo].[DiaDiem] ([IdDD], [TenDD], [TenKhac], [LoaiDD], [ToaDoX], [ToaDoY], [TangSo], [IdCT]) VALUES (2, N'P102K1', N'', N'Phòng KTX', 90, 78, 1, 6)
INSERT [dbo].[DiaDiem] ([IdDD], [TenDD], [TenKhac], [LoaiDD], [ToaDoX], [ToaDoY], [TangSo], [IdCT]) VALUES (3, N'P103K1', N'', N'Phòng KTX', 95, 78, 1, 6)
GO
SET IDENTITY_INSERT [dbo].[DiaDiem] OFF
GO
SET IDENTITY_INSERT [dbo].[DistanceCT] ON 

INSERT [dbo].[DistanceCT] ([IdPathCT], [IdCTA], [IdCTB], [DoDai], [TinhTrang]) VALUES (1, 1, 2, 57.0087712549569, N'')
INSERT [dbo].[DistanceCT] ([IdPathCT], [IdCTA], [IdCTB], [DoDai], [TinhTrang]) VALUES (2, 1, 3, 59.908263203000637, N'')
INSERT [dbo].[DistanceCT] ([IdPathCT], [IdCTA], [IdCTB], [DoDai], [TinhTrang]) VALUES (3, 1, 4, 62.81719509815764, N'')
GO
SET IDENTITY_INSERT [dbo].[DistanceCT] OFF
GO
SET IDENTITY_INSERT [dbo].[DistanceDD] ON 

INSERT [dbo].[DistanceDD] ([IdPathDD], [IdDiemA], [IdDiemB], [Loai], [DoDai], [TinhTrang]) VALUES (1, 1, 2, N'', 5, N'')
INSERT [dbo].[DistanceDD] ([IdPathDD], [IdDiemA], [IdDiemB], [Loai], [DoDai], [TinhTrang]) VALUES (2, 2, 3, N'', 5, N'')
INSERT [dbo].[DistanceDD] ([IdPathDD], [IdDiemA], [IdDiemB], [Loai], [DoDai], [TinhTrang]) VALUES (3, 3, 4, N'', 5, N'')
GO
SET IDENTITY_INSERT [dbo].[DistanceDD] OFF
GO
SET IDENTITY_INSERT [dbo].[Khuvuc] ON 

INSERT [dbo].[Khuvuc] ([IdKV], [TenKV], [LoaiKV], [DiaChi], [DienTich], [ToaDoX], [ToaDoY]) VALUES (1, N'Trường Đại học Kỹ thuật Công nghiệp Thái nguyên', N'Trường học', N'Số 666, Đường 3-2, Phường Tích Lương, Thái Nguyên, Việt Nam', 50000000, 50, 50)
INSERT [dbo].[Khuvuc] ([IdKV], [TenKV], [LoaiKV], [DiaChi], [DienTich], [ToaDoX], [ToaDoY]) VALUES (3, N'Trường đại học công nghệ thông tin và truyền thông', N'Trường học', N'Đường Z115, Quyết Thắng, Thành Phố Thái Nguyên', 30000, 0, 0)
SET IDENTITY_INSERT [dbo].[Khuvuc] OFF
GO
SET IDENTITY_INSERT [dbo].[LogPassword] ON 

INSERT [dbo].[LogPassword] ([IdLpass], [IdNSD], [OldMK], [NewMK], [TimeUpdated], [PathJson]) VALUES (1, 1, N'Hanh2002', N'Hanh1111111111111', CAST(N'2025-04-22T18:28:12.850' AS DateTime), N'{"OldMK":"Hanh2002","NewMK":"Hanh1111111111111","Time":"2025-04-22T18:28:12.850"}')
INSERT [dbo].[LogPassword] ([IdLpass], [IdNSD], [OldMK], [NewMK], [TimeUpdated], [PathJson]) VALUES (3, 1, N'Hanh1111111111111', N'ToiYeuBan3000', CAST(N'2025-04-22T18:28:46.443' AS DateTime), N'{"OldMK":"Hanh1111111111111","NewMK":"ToiYeuBan3000","Time":"2025-04-22T18:28:46.443"}')
INSERT [dbo].[LogPassword] ([IdLpass], [IdNSD], [OldMK], [NewMK], [TimeUpdated], [PathJson]) VALUES (4, 1, N'ToiYeuBan3000', N'Yeuem3000', CAST(N'2025-04-22T18:29:26.160' AS DateTime), N'{"OldMK":"ToiYeuBan3000","NewMK":"Yeuem3000","Time":"2025-04-22T18:29:26.160"}')
SET IDENTITY_INSERT [dbo].[LogPassword] OFF
GO
SET IDENTITY_INSERT [dbo].[LogPath] ON 

INSERT [dbo].[LogPath] ([IdLog], [IdNSD], [ThuTu], [TgBatDau], [TgKetThuc], [IdDDBatDau], [IdDDKetThuc], [PathJson]) VALUES (1, 2, 1, NULL, NULL, 1, 157, N'')
INSERT [dbo].[LogPath] ([IdLog], [IdNSD], [ThuTu], [TgBatDau], [TgKetThuc], [IdDDBatDau], [IdDDKetThuc], [PathJson]) VALUES (2, 2, 2, NULL, NULL, 555, 1033, N'')
INSERT [dbo].[LogPath] ([IdLog], [IdNSD], [ThuTu], [TgBatDau], [TgKetThuc], [IdDDBatDau], [IdDDKetThuc], [PathJson]) VALUES (3, 3, 1, NULL, NULL, 50, 400, N'')
SET IDENTITY_INSERT [dbo].[LogPath] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiSuDung] ON 

INSERT [dbo].[NguoiSuDung] ([IdNSD], [TenNSD], [TenDN], [MK], [VaiTro], [DoiTuong]) VALUES (1, N'Lường Văn Hạnh', N'Luongvanhanh', N'Yeuem3000', N'Admin', N'Sinh viên')
INSERT [dbo].[NguoiSuDung] ([IdNSD], [TenNSD], [TenDN], [MK], [VaiTro], [DoiTuong]) VALUES (2, N'Trần Thanh Hiền', N'Tranhien', N'Hien0001', N'User', N'Sinh viên')
INSERT [dbo].[NguoiSuDung] ([IdNSD], [TenNSD], [TenDN], [MK], [VaiTro], [DoiTuong]) VALUES (3, N'Nguyễn Nam', N'Nguyennam', N'NguyenNam007', N'User', N'Khách')
SET IDENTITY_INSERT [dbo].[NguoiSuDung] OFF
GO
ALTER TABLE [dbo].[LogPassword] ADD  DEFAULT (getdate()) FOR [TimeUpdated]
GO
ALTER TABLE [dbo].[ChiTietLogPath]  WITH CHECK ADD FOREIGN KEY([IdLog])
REFERENCES [dbo].[LogPath] ([IdLog])
GO
ALTER TABLE [dbo].[ChiTietLogPath]  WITH CHECK ADD FOREIGN KEY([IdPathDD])
REFERENCES [dbo].[DistanceDD] ([IdPathDD])
GO
ALTER TABLE [dbo].[ChiTietLogPath]  WITH CHECK ADD FOREIGN KEY([IdPathCT])
REFERENCES [dbo].[DistanceCT] ([IdPathCT])
GO
ALTER TABLE [dbo].[CongTrinh]  WITH CHECK ADD FOREIGN KEY([IdKV])
REFERENCES [dbo].[Khuvuc] ([IdKV])
GO
ALTER TABLE [dbo].[DiaDiem]  WITH CHECK ADD FOREIGN KEY([IdCT])
REFERENCES [dbo].[CongTrinh] ([IdCT])
GO
ALTER TABLE [dbo].[DistanceCT]  WITH CHECK ADD FOREIGN KEY([IdCTA])
REFERENCES [dbo].[CongTrinh] ([IdCT])
GO
ALTER TABLE [dbo].[DistanceCT]  WITH CHECK ADD FOREIGN KEY([IdCTB])
REFERENCES [dbo].[CongTrinh] ([IdCT])
GO
ALTER TABLE [dbo].[DistanceDD]  WITH CHECK ADD FOREIGN KEY([IdDiemA])
REFERENCES [dbo].[DiaDiem] ([IdDD])
GO
ALTER TABLE [dbo].[DistanceDD]  WITH CHECK ADD FOREIGN KEY([IdDiemB])
REFERENCES [dbo].[DiaDiem] ([IdDD])
GO
ALTER TABLE [dbo].[LogPassword]  WITH CHECK ADD FOREIGN KEY([IdNSD])
REFERENCES [dbo].[NguoiSuDung] ([IdNSD])
GO
ALTER TABLE [dbo].[LogPath]  WITH CHECK ADD FOREIGN KEY([IdDDBatDau])
REFERENCES [dbo].[DiaDiem] ([IdDD])
GO
ALTER TABLE [dbo].[LogPath]  WITH CHECK ADD FOREIGN KEY([IdDDKetThuc])
REFERENCES [dbo].[DiaDiem] ([IdDD])
GO
ALTER TABLE [dbo].[LogPath]  WITH CHECK ADD FOREIGN KEY([IdNSD])
REFERENCES [dbo].[NguoiSuDung] ([IdNSD])
GO
ALTER TABLE [dbo].[ChiTietLogPath]  WITH CHECK ADD  CONSTRAINT [CK_ChiTietLogPath_ThuTu] CHECK  (([ThuTu]>(0)))
GO
ALTER TABLE [dbo].[ChiTietLogPath] CHECK CONSTRAINT [CK_ChiTietLogPath_ThuTu]
GO
ALTER TABLE [dbo].[CongTrinh]  WITH CHECK ADD  CONSTRAINT [CK_CongTrinh_SoTang] CHECK  (([SoTang]>=(0)))
GO
ALTER TABLE [dbo].[CongTrinh] CHECK CONSTRAINT [CK_CongTrinh_SoTang]
GO
ALTER TABLE [dbo].[DiaDiem]  WITH CHECK ADD  CONSTRAINT [CK_DiaDiem_TangSo] CHECK  (([TangSo]>=(0)))
GO
ALTER TABLE [dbo].[DiaDiem] CHECK CONSTRAINT [CK_DiaDiem_TangSo]
GO
ALTER TABLE [dbo].[DistanceCT]  WITH CHECK ADD  CONSTRAINT [CK_DistanceCT_DoDai_Positive] CHECK  (([DoDai]>(0)))
GO
ALTER TABLE [dbo].[DistanceCT] CHECK CONSTRAINT [CK_DistanceCT_DoDai_Positive]
GO
ALTER TABLE [dbo].[DistanceDD]  WITH CHECK ADD  CONSTRAINT [CK_DistanceDD_DoDai_Positive] CHECK  (([DoDai]>=(0)))
GO
ALTER TABLE [dbo].[DistanceDD] CHECK CONSTRAINT [CK_DistanceDD_DoDai_Positive]
GO
ALTER TABLE [dbo].[Khuvuc]  WITH CHECK ADD  CONSTRAINT [CK_Khuvuc_DienTich] CHECK  (([DienTich]>(0)))
GO
ALTER TABLE [dbo].[Khuvuc] CHECK CONSTRAINT [CK_Khuvuc_DienTich]
GO
ALTER TABLE [dbo].[LogPath]  WITH CHECK ADD  CONSTRAINT [CK_LogPath_TgBatDau] CHECK  (([TgBatDau]>(0)))
GO
ALTER TABLE [dbo].[LogPath] CHECK CONSTRAINT [CK_LogPath_TgBatDau]
GO
ALTER TABLE [dbo].[LogPath]  WITH CHECK ADD  CONSTRAINT [CK_LogPath_TgKetThuc] CHECK  (([TgKetThuc]>(0)))
GO
ALTER TABLE [dbo].[LogPath] CHECK CONSTRAINT [CK_LogPath_TgKetThuc]
GO
ALTER TABLE [dbo].[LogPath]  WITH CHECK ADD  CONSTRAINT [CK_LogPath_ThuTu] CHECK  (([ThuTu]>(0)))
GO
ALTER TABLE [dbo].[LogPath] CHECK CONSTRAINT [CK_LogPath_ThuTu]
GO
/****** Object:  StoredProcedure [dbo].[CapNhat_ToaDoDiaDiem]    Script Date: 4/22/2025 8:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhat_ToaDoDiaDiem]
    @KhoangCachX FLOAT = 5.0,  -- khoảng cách giữa các phòng theo trục X
    @KhoangCachY FLOAT = 5.0   -- khoảng cách giữa các tầng theo trục Y
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdCT INT, @XGoc FLOAT, @YGoc FLOAT;

    -- Duyệt từng công trình
    DECLARE cur_ct CURSOR FOR
        SELECT IdCT, ToaDoX, ToaDoY FROM CongTrinh;

    OPEN cur_ct;
    FETCH NEXT FROM cur_ct INTO @IdCT, @XGoc, @YGoc;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Duyệt từng tầng của công trình đó
        DECLARE @Tang INT;

        DECLARE cur_tang CURSOR FOR
            SELECT DISTINCT TangSo
            FROM DiaDiem
            WHERE IdCT = @IdCT
            ORDER BY TangSo;

        OPEN cur_tang;
        FETCH NEXT FROM cur_tang INTO @Tang;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Danh sách phòng trên tầng đó, đánh số thứ tự để tính X
            ;WITH PhongTang AS (
                SELECT IdDD, ROW_NUMBER() OVER (ORDER BY TenDD) - 1 AS SoThuTu
                FROM DiaDiem
                WHERE IdCT = @IdCT AND TangSo = @Tang
            )
            UPDATE dd
            SET 
                ToaDoX = @XGoc + pt.SoThuTu * @KhoangCachX,
                ToaDoY = @YGoc + (@Tang - 1) * @KhoangCachY
            FROM DiaDiem dd
            INNER JOIN PhongTang pt ON dd.IdDD = pt.IdDD;

            FETCH NEXT FROM cur_tang INTO @Tang;
        END

        CLOSE cur_tang;
        DEALLOCATE cur_tang;

        FETCH NEXT FROM cur_ct INTO @IdCT, @XGoc, @YGoc;
    END

    CLOSE cur_ct;
    DEALLOCATE cur_ct;

    PRINT N'Đã cập nhật tọa độ cho các địa điểm thành công.';
END
GO
/****** Object:  StoredProcedure [dbo].[TinhKhoangCach_CT_DD]    Script Date: 4/22/2025 8:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TinhKhoangCach_CT_DD]
AS
BEGIN
    -- Cập nhật khoảng cách giữa các Công trình trong cùng một Khu vực
    UPDATE dct
    SET dct.DoDai = SQRT(POWER(ct1.ToaDoX - ct2.ToaDoX, 2) + POWER(ct1.ToaDoY - ct2.ToaDoY, 2))
    FROM DistanceCT dct
    JOIN CongTrinh ct1 ON dct.IdCTA = ct1.IdCT
    JOIN CongTrinh ct2 ON dct.IdCTB = ct2.IdCT
    WHERE ct1.IdKV = ct2.IdKV;

    -- Cập nhật khoảng cách giữa các Địa điểm trong cùng một Công trình
    UPDATE ddd
    SET ddd.DoDai = SQRT(POWER(dd1.ToaDoX - dd2.ToaDoX, 2) + POWER(dd1.ToaDoY - dd2.ToaDoY, 2))
    FROM DistanceDD ddd
    JOIN DiaDiem dd1 ON ddd.IdDiemA = dd1.IdDD
    JOIN DiaDiem dd2 ON ddd.IdDiemB = dd2.IdDD
    WHERE dd1.IdCT = dd2.IdCT;
END;
GO
/****** Object:  Trigger [dbo].[CheckDuplicate_CongTrinh]    Script Date: 4/22/2025 8:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CheckDuplicate_CongTrinh]
ON [dbo].[CongTrinh]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @TenCT NVARCHAR(255), @TenKV NVARCHAR(255) --Dung bien de thong bao loi duoc chi tiet

    SELECT TOP 1 
        @TenCT = i.TenCT,
        @TenKV = kv.TenKV
    FROM inserted i
    JOIN CongTrinh ct ON ct.TenCT = i.TenCT AND ct.IdKV = i.IdKV
    JOIN Khuvuc kv ON kv.idKV = i.IdKV

    IF @TenCT IS NOT NULL AND @TenKV IS NOT NULL
    BEGIN
        RAISERROR(N'Công trình "%s" đã tồn tại trong khu vực "%s"!', 16, 1, @TenCT, @TenKV);
        RETURN;
    END

    INSERT INTO CongTrinh (TenCT, LoaiCT, SoTang, HinhAnh, ToaDoX, ToaDoY, IdKV) --kh cần idDD vì id tự tăng rồi
    SELECT TenCT, LoaiCT, SoTang, HinhAnh, ToaDoX, ToaDoY, IdKV FROM inserted;
END
GO
ALTER TABLE [dbo].[CongTrinh] ENABLE TRIGGER [CheckDuplicate_CongTrinh]
GO
/****** Object:  Trigger [dbo].[CheckDuplicate_DiaDiem]    Script Date: 4/22/2025 8:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CheckDuplicate_DiaDiem]
ON [dbo].[DiaDiem]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @TenDD NVARCHAR(255), @TenCT NVARCHAR(255) --Dung bien de thong bao loi duoc chi tiet

    SELECT TOP 1 
        @TenDD = i.TenDD,
        @TenCT = ct.TenCT
    FROM inserted i
    JOIN DiaDiem d ON d.TenDD = i.TenDD AND d.IdCT = i.IdCT
    JOIN CongTrinh ct ON i.IdCT = ct.IdCT

    IF @TenDD IS NOT NULL AND @TenCT IS NOT NULL
    BEGIN
        RAISERROR(N'Địa điểm "%s" đã tồn tại trong công trình "%s"!', 16, 1, @TenDD, @TenCT);
        RETURN;
    END

    INSERT INTO DiaDiem (TenDD, TenKhac, LoaiDD, ToaDoX, ToaDoY, TangSo, IdCT) --kh cần idDD vì id tự tăng rồi
    SELECT TenDD, TenKhac, LoaiDD, ToaDoX, ToaDoY, TangSo, IdCT FROM inserted;
END
GO
ALTER TABLE [dbo].[DiaDiem] ENABLE TRIGGER [CheckDuplicate_DiaDiem]
GO
/****** Object:  Trigger [dbo].[CheckDuplicate_KhuVuc]    Script Date: 4/22/2025 8:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CheckDuplicate_KhuVuc]
ON [dbo].[Khuvuc]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @TenKV NVARCHAR(255), @DiaChi NVARCHAR(255) --Dung bien de thong bao loi duoc chi tiet

    SELECT TOP 1 
        @TenKV = kv.TenKV,
        @DiaChi = i.DiaChi
    FROM inserted i
    JOIN Khuvuc kv ON kv.TenKV = i.TenKV OR kv.DiaChi = i.DiaChi

    IF @TenKV IS NOT NULL AND @DiaChi IS NOT NULL
    BEGIN
        RAISERROR(N'Đã tồn tại khu vực "%s" có địa chỉ "%s"!', 16, 1, @TenKV, @DiaChi);
        RETURN;
    END

    INSERT INTO Khuvuc (TenKV, LoaiKV, DienTich, ToaDoX, ToaDoY) --kh cần idDD vì id tự tăng rồi
    SELECT TenKV, LoaiKV, DienTich, ToaDoX, ToaDoY IdKV FROM inserted;
END
GO
ALTER TABLE [dbo].[Khuvuc] ENABLE TRIGGER [CheckDuplicate_KhuVuc]
GO
/****** Object:  Trigger [dbo].[CheckDuplicate_oldnewMK]    Script Date: 4/22/2025 8:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lường Văn Hạnh
-- Create date: 21/04/2025
-- Description:	--Bẫy trùng lặp oldMK và newMK
				--Tuy nhiên việc cố tình đặt mk mới trùng với mk cũ thì sẽ gây ra lỗi trong việc update data mk mới.
				--Phần hạn chế này sẽ xử lý bằng backend
-- =============================================
CREATE TRIGGER [dbo].[CheckDuplicate_oldnewMK]
ON [dbo].[LogPassword]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @HaveNewMK BIT = 1;

    -- Nếu mật khẩu mới trùng với mật khẩu hiện tại thì báo lỗi
    IF EXISTS(
        SELECT 1 
        FROM inserted i
        JOIN NguoiSuDung n ON n.IdNSD = i.IdNSD 
        WHERE n.MK = i.NewMK 
    )
    BEGIN
        SET @HaveNewMK = 0;
    END

	IF @HaveNewMK = 0
		BEGIN
			RAISERROR(N'Mật khẩu mới trùng với mật khẩu hiện tại. Cập nhật thất bại!', 16, 1);
			RETURN;
		END 
	ELSE 
		BEGIN
			PRINT (N'Đổi mật khẩu thành công.');
			-- Tạo dữ liệu log và cập nhật
			INSERT INTO LogPassword (IdNSD, OldMK, NewMK, TimeUpdated, PathJson)
			SELECT 
				i.IdNSD,
				n.MK,
				i.NewMK,
				GETDATE(),
				(
					SELECT 
						n.MK AS OldMK,
						i.NewMK AS NewMK,
						GETDATE() AS Time
					FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
				)
			FROM inserted i
			JOIN NguoiSuDung n ON n.IdNSD = i.IdNSD;

			-- Cập nhật mật khẩu trong bảng NguoiSuDung
			UPDATE NguoiSuDung
			SET MK = lp.NewMK
			FROM NguoiSuDung nsd
			JOIN LogPassword lp ON nsd.IdNSD = lp.IdNSD AND nsd.mk = lp.OldMK; --Vì có thể có nhiều lịch sử cập nhật khẩu nên cần chọn ra lịch sử gần nhất để update mk mới
		END
END;
GO
ALTER TABLE [dbo].[LogPassword] ENABLE TRIGGER [CheckDuplicate_oldnewMK]
GO
/****** Object:  Trigger [dbo].[Check_InsertNSD]    Script Date: 4/22/2025 8:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lường Văn Hạnh
-- Create date: 21/04/2025
-- Description:	--CÁC BẪY TRONG TRIGGER NÀY:
				--1. Bẫy mật khẩu không hợp lệ
				--2. Bẫy trùng lặp tên người sử dụng
-- =============================================

CREATE TRIGGER [dbo].[Check_InsertNSD]
ON [dbo].[NguoiSuDung] --trigger này được gắn với bảng NguoiSuDung
INSTEAD OF INSERT --thay thế hành động INSERT mặc định, 
				  --tức là khi có lệnh INSERT thì trigger sẽ chạy trước để check thay vì INSERT data ngay.
				  --Mỗi bảng chỉ được có 1 trigger INSTEAD OF INSERT duy nhất. 
AS
BEGIN
	--sử dụng biến để bẫy được nhiều 
	DECLARE @TrungLapTen BIT = 0;
    DECLARE @MatKhauKhongHopLe BIT = 0;
    -- Kiểm tra trùng lặp TenNSD
    IF EXISTS ( --nếu mật khẩu không hợp lệ thì IF EXISTS=true, 
				--Nó sẽ đọc code check điều kiện (trong where) trước, nếu thoả mãn=>true hoặc ngược lại
		SELECT 1 FROM inserted i --bảng tạm trong trigger chứa các bản ghi được chèn vào, SELECT 1: kiểm tra sự tồn tại của bản ghi
								 --nếu bảng ghi tồn tại thì mới check điều kiện
		JOIN Nguoisudung n ON n.TenNSD = i.TenNSD)
    BEGIN
        SET @TrungLapTen = 1
    END;

    -- Kiểm tra độ mạnh của mật khẩu
    IF EXISTS (
        SELECT 1 FROM inserted
		--Vì điều kiện này TRUE => EXISTS=true =>Báo lỗi. Nên muốn bẫy điều kiện nào đó thì ta phải đặt ngược lại điều kiên đó
        WHERE LEN(MK) < 8 --Độ dài nhỏ hơn 8
           OR MK NOT LIKE '%[A-Z]%' -- không có chữ hoa
           OR MK NOT LIKE '%[a-z]%' -- không có chữ thường
           OR MK NOT LIKE '%[0-9]%' -- không có số
    )
    BEGIN
        SET @MatKhauKhongHopLe = 1
    END;

	-- Xử lý lỗi sau khi đã kiểm tra tất cả điều kiện
	IF @TrungLapTen = 1 OR @MatKhauKhongHopLe = 1
	BEGIN
		IF @TrungLapTen = 1
			RAISERROR(N'Đã tồn tại tên người sử dụng này!', 16, 1);

		IF @MatKhauKhongHopLe = 1
			RAISERROR('Mật khẩu phải có ít nhất 8 ký tự, 1 chữ hoa, 1 chữ thường, và 1 số.', 16, 1);

		ROLLBACK TRANSACTION;	-- cách code này làm cho khi bất kỳ 1 lỗi nào xảy ra thì giao dịch INSERT sẽ bị hủy bỏ.
		RETURN;	--chỉ nên để return xuất hiện ở cuối và sử dụng biến để chăcs chắn các bẫy đều hoạt động
	END;

    -- Nếu không có lỗi, thực hiện chèn dữ liệu
    INSERT INTO Nguoisudung (TenNSD, TenDN, MK, VaiTro, DoiTuong)
    SELECT TenNSD, TenDN, MK, VaiTro, DoiTuong
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[NguoiSuDung] ENABLE TRIGGER [Check_InsertNSD]
GO
/****** Object:  Trigger [dbo].[CheckUpdate_password]    Script Date: 4/22/2025 8:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lường Văn Hạnh
-- Create date: 44/04/2025
-- Description:	--update mk mới từ bảng LogPassword
-- =============================================
CREATE TRIGGER [dbo].[CheckUpdate_password] --Tạo trigger có tên là Check_password
ON [dbo].[NguoiSuDung] --trigger này được gắn với bảng NguoiSuDung
INSTEAD OF UPDATE --thay thế hành động INSERT mặc định, tức là khi có lệnh INSERT thì trigger sẽ chạy trước để check thay vì INSERT data ngay.
AS
BEGIN	-- bắt đầu nội dung của trigger
    IF EXISTS (	-- nếu mật khẩu không hợp lệ thì IF EXISTS=true, Nó sẽ đọc code check điều kiện (trong where) trước, nếu thoả mãn=>true hoặc ngược lại
        SELECT 1 FROM inserted	--bảng tạm trong trigger chứa các bản ghi được chèn vào, SELECT 1: kiểm tra sự tồn tại của bản ghi
        --nếu bảng ghi tồn tại thì check điều kiện
		WHERE LEN(MK) < 8	
           OR MK NOT LIKE '%[A-Z]%' -- không có chữ hoa
           OR MK NOT LIKE '%[a-z]%' -- không có chữ thường
           OR MK NOT LIKE '%[0-9]%' -- không có số
    )
    BEGIN
        RAISERROR('Mật khẩu phải có ít nhất 8 ký tự, 1 chữ hoa, 1 chữ thường, và 1 số.', 16, 1);
		--Mã lỗi 16: lỗi cấp độ người dùng, có thể kiểm soát được; 
		--Mã phụ 1 : Giúp dev quản lý các lỗi trong hệ thống
        ROLLBACK TRANSACTION; --huỷ thao tác chèn dữ liệu nếu mk không hợp lệ
		RETURN
    END
	BEGIN 
		UPDATE NguoiSuDung
		SET MK = lp.NewMK
		FROM NguoiSuDung nsd
		JOIN LogPassword lp ON nsd.IdNSD = lp.IdNSD AND nsd.mk = lp.OldMK; --Vì có thể có nhiều lịch sử cập nhật khẩu nên cần chọn ra lịch sử gần nhất để update mk mới
	END
END; -- kêt thúc nội dung của trigger
GO
ALTER TABLE [dbo].[NguoiSuDung] ENABLE TRIGGER [CheckUpdate_password]
GO
USE [master]
GO
